<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TextCalculator.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TextCalculator.Properties.Settings>
            <setting name="FontFamily" serializeAs="String">
                <value />
            </setting>
        </TextCalculator.Properties.Settings>
        <TextCalculator.Properties.Settings1>
            <setting name="FontFamily" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value />
            </setting>
        </TextCalculator.Properties.Settings1>
    </userSettings>
</configuration>